<%- include('../partials/nav') %>
<main>
<div class="h-screen flex justify-center items-center bg-gray-100">
  <div class="text-center">
    <h1 class="text-5xl font-bold text-gray-900">Welcome to our website!</h1>
    <p class="text-lg text-gray-600">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
      nulla auctor, vestibulum magna sed, convallis ex.
    </p>
    <button
      class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
    >
      Get Started
    </button>
  </div>
</div>
</main>
</body>
</html>