<%- include('../partials/nav') %>
<main>
<div class="flex h-screen justify-center items-center bg-gray-100">
  <div class="bg-white p-10 rounded shadow-md w-1/2">
    <h1 class="text-3xl font-bold mb-4">Login</h1>
    <form action="/login" method="post">
      <%- include('../partials/errorMsg') %>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
        <input name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="your@email.com">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
        <input name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="********">
      </div>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Login</button>
    </form>
  </div>
</div>

</main>
</body>
</html>