<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body>
    <header>
      <nav class="bg-gray-800 py-4">
        <div class="container mx-auto px-4 flex justify-between items-center">
          <a href="/" class="text-lg font-bold text-white">Logo</a>
          <ul class="flex items-center space-x-4">
            <li><a href="/" class="text-gray-300 hover:text-white">Home</a></li>
            <% if (isLoggedIn) { %>
              <% if (user.userType !== 'admin') { %>
                <li>
                  <a href="/favourite" class="text-gray-300 hover:text-white">Favourites</a>
                </li>
              <% } else { %>
                <li>
                  <a href="/host-homes" class="text-gray-300 hover:text-white">Host Homes</a>
                </li>
                <li>
                  <a href="/add-home" class="text-gray-300 hover:text-white">Add Home</a>
                </li>
              <% } %>
              <li>
                <form action="/logout" method="post" class="m-0">
                  <button class="bg-gray-500 hover:bg-gray-700 block text-white font-bold py-2 px-4 rounded">Sign out</button>
                </form>
              </li>
            <% } else { %>
              <li>
                <a href="/signup" class="bg-gray-500 hover:bg-gray-700 block text-white font-bold py-2 px-4 rounded">Sign up</a>
              </li>
              <li>
                <a href="/login" class="bg-gray-500 hover:bg-gray-700 block text-white font-bold py-2 px-4 rounded">Login</a>
              </li>
            <% } %>
          </ul>          
        </div>
      </nav>
    </header>
